<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Numero Chip</Data></Cell>
        <Cell><Data ss:Type="String">Especie</Data></Cell>
        <Cell><Data ss:Type="String">Sexo</Data></Cell>
        <Cell><Data ss:Type="String">Peso</Data></Cell>
        <Cell><Data ss:Type="String">Vacunado</Data></Cell>
        <Cell><Data ss:Type="String">Castrado</Data></Cell>
        <Cell><Data ss:Type="String">Fecha admision</Data></Cell>
        <Cell><Data ss:Type="String">Fecha nacimiento</Data></Cell>
        <Cell><Data ss:Type="String">Fecha muerte</Data></Cell>
      </Row>
    <% @animals.each do |animal| %>
      <Row>
        <Cell><Data ss:Type="String"><%= animal.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.chip_num %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.race %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.sex_to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.weight %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.vaccines_to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.castrated_to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.admission_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.birthdate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= animal.death_date %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
